@import './styles/main.scss';

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: OpenSans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(80, 34, 114, 1) 0%,
    rgba(12, 12, 12, 1) 35%,
    rgba(12, 12, 12, 1) 54%,
    rgba(80, 34, 114, 1) 100%
  );
  background-size: 438%;
  background-position: 30% -8%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
